<VirtualHost *:<%= @port %>>
    ServerAdmin devops@na.novartis.net    
    DocumentRoot /var/www/html
    <Directory />
    Options FollowSymLinks
    AllowOverride None
</Directory>
<Directory /var/www/html>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order allow,deny
    allow from all
</Directory>

ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
<Directory "/usr/lib/cgi-bin">
    AllowOverride None
    Options ExecCGI -MultiViews +SymLinksIfOwnerMatch
    Order allow,deny
    Allow from all
</Directory>
LoadModule proxy_module modules/mod_proxy.so
LoadModule autoindex_module modules/mod_autoindex.so
LoadModule dav_module modules/mod_dav.so
LoadModule dav_fs_module modules/mod_dav_fs.so
LoadModule info_module modules/mod_info.so
LoadModule proxy_module modules/mod_proxy.so
LoadModule proxy_balancer_module modules/mod_proxy_balancer.so
LoadModule proxy_ftp_module modules/mod_proxy_ftp.so
LoadModule proxy_http_module modules/mod_proxy_http.so
LoadModule proxy_connect_module modules/mod_proxy_connect.so
LoadModule proxy_ajp_module modules/mod_proxy_ajp.so
LoadModule proxy_scgi_module modules/mod_proxy_scgi.so


ErrorLog /var/log/httpd/error.log

LogLevel warn

CustomLog /var/log/httpd/access.log combined
ServerSignature On

#Alias /doc/ "/usr/share/doc/"
#<Directory "/usr/share/doc/">
#    Options Indexes MultiViews FollowSymLinks
#    AllowOverride None
#    Order deny,allow
#    Deny from all
#    Allow from 127.0.0.0/255.0.0.0 ::1/128
#</Directory>

#
# This configuration file enables the default "Welcome"
# page if there is no default index page present for
# the root URL.  To disable the Welcome page, comment
# out all the lines below.
#
<LocationMatch "^/+$">
    Options -Indexes
    ErrorDocument 403 /error/noindex.html
</LocationMatch>

<Proxy *>
   Order allow,deny
   Allow from all	
</Proxy>

<IfModule mod_expires.c>
    ExpiresActive on
    
    # cache.appcache needs re-requests in FF 3.6 (thx Remy ~Introducing HTML5)
    ExpiresByType text/cache-manifest       "access plus 8 hours"

    # media: images
    ExpiresByType image/png                 "access plus 1 month"

    # document: html 
    ExpiresByType text/html                 "access plus 8 hours"

    # css and javascript
    ExpiresByType text/css                  "access plus 8 hours"
    ExpiresByType application/javascript    "access plus 8 hours"
    ExpiresByType text/javascript           "access plus 8 hours"

    <IfModule mod_headers.c>
        Header append Cache-Control "public"
    </IfModule>
</IfModule>

<IfModule mod_ssl.c>
    SSLProxyEngine on
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule     ^/apps/demoi360/util/user2.php(.*)      http://web-dev.global.nibr.novartis.net/apps/confluence/jiraselfservice/util/user2.php$1 [P]
    RewriteRule     ^/apps/demoi360/util/user3.php(.*)      http://web-dev.global.nibr.novartis.net/apps/confluence/jiraselfservice/util/user3.php$1 [P]
    RewriteRule     ^/apps/demoi360/util/getapplication$      http://puppet-web.nibr.novartis.net/cgi-bin/api/getapplication [P]
    #RewriteRule     ^/apps/demoi360/util/service/applications(.*)       http://appstore.nibr.novartis.intra:8080/service/applicationsfori360?onlywithInfrastructureRequired=true$1 [P]
    RewriteRule     ^/apps/demoi360/util/service/applications(.*)       https://appstore.nibr.novartis.intra/report/service/applicationsfori360?onlywithInfrastructureRequired=true$1 [P]
	RewriteRule    ^/apps/demoi360/rest/database/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-_]+)/?$  /apps/i360/dist/php/api.php?rquest=$1&dbtype=$2&query=$3   [PT]
</IfModule>
Header set Access-Control-Allow-Origin "*"
</VirtualHost>
